.container-search-input {
  padding: 0 2rem;
  margin-bottom: 1rem;
  form {
    @extend .box-shadow;
    @extend .border;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.4rem;
    padding: 0.2rem;
    max-width: 70%;

    input,
    button {
      padding: 0.5rem;
      border: none;
      background-color: $secondary-color;
    }
    button {
      color: rgb($primary-color, 0.3);
      cursor: pointer;
      padding: 0.5rem 1rem;
      svg {
        font-size: 1.2rem;
      }
    }
    input {
      flex: 1;

      ::placeholder {
        color: rgb($primary-color, 0.3);
      }
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}
