* {
  padding: 0;
  margin: 0;
}
body {
  background-color: $secondary-color;
  font-family: "Brygada 1918", sans-serif;
}

.img-fluid {
  width: auto;
  height: 100%;
}

.title-page-name {
  @extend .caesar-dressing-regular;
  font-size: 2rem;
  color: $primary-color;
  text-align: start;
  margin: 1rem 0;
}
.box-shadow {
  box-shadow: 1px 1px 4px rgb($primary-color, 0.25);
}
.border {
  border: 1px solid rgb($primary-color, 0.3);
}

.container-body {
  padding-top: 6rem;
}
a {
  text-decoration: none;
  color: $secondary-color;
  &:hover {
    font-weight: 600;
    text-decoration: none;
  }
}

.container-fluid {
  padding: 0.5rem 1rem;
}

.container-sections {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
