
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Caesar+Dressing&display=swap');

// Variables de colores
$primary-color: #171523;
$secondary-color: #F0F8FF;
$tertiary-color: #D9D9D9;
$font-family1:"Caesar Dressing";
$font-family2:"Brygada 1918";




.caesar-dressing-regular{
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}

.brygada-1918-regular {
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


// Breakpoints para consultas de medios

// Breakpoint mínimo para pantallas pequeñas (sm) >= 576px
$min-width-sm: 576px;
// Breakpoint máximo para pantallas pequeñas (sm) <= 575px
$max-width-sm: 575px;

// Breakpoint mínimo para pantallas medianas (md) >= 768px
$min-width-md: 768px;
// Breakpoint máximo para pantallas medianas (md) <= 767px
$max-width-md: 767px;

// Breakpoint mínimo para pantallas grandes (lg) >= 992px
$min-width-lg: 992px;
// Breakpoint máximo para pantallas grandes (lg) <= 991px
$max-width-lg: 991px;

// Breakpoint mínimo para pantallas extra grandes (xl) >= 1200px
$min-width-xl: 1200px;
// Breakpoint máximo para pantallas extra grandes (xl) <= 1199px
$max-width-xl: 1199px;

// Breakpoint mínimo para pantallas extra-extra grandes (xxl) >= 1400px
$min-width-xxl: 1400px;
// No es necesario definir un breakpoint máximo para xxl,
// ya que no tiene límite superior en la mayoría de los diseños.
